@page "/"

<h1>Are you a Lobster?</h1>
<main>
    <a href="/lobster" class="button">Yes</a>
    <a href="/nolobster" class="button">No</a>
</main>

<h1>.</h1>
<h6>*When you press "Yes" you accept the Terms and Conditions.</h6>